body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#title{
    width: 90vw;
    height: 33vw;
    margin-top: 2rem;
}
#board {
    position: absolute;
    left: 5.5vw;
    bottom: 6.5vw;
    width: 78vw;
    height: 72vw;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    background-color: rgb(22, 22, 189);
}

.unit{
    width: 2.19rem;
    height: 2.19rem;
    border: 1px solid rebeccapurple;
    border-radius: 50%;
    background-color: white;
}

.rows{
    display: flex;
}

.player1{
    background-color: red;
}

.player2{
    background-color: yellow;
}


#bordered{
    position: relative;
    width: 89vw;
    height: 86vw;
    background-image: url("../images/background-border.png");
    background-size: cover;
    background-repeat: repeat;
}